body {
    margin: 0;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

h1 {
    padding-left: 100px;
    font-size: 150px;
    text-align: left;
}

h2 {
    padding-right: 100px;
    font-size: 100px;
    text-align: right;
    color: blue
}

h3 { 
    padding-left: 150px;
    font-size: 150px;
    text-align: left;
    
}

input {
    padding: 12px 18px;
    box-sizing: border-box;
    background: lightgray;
    width: 25%
}

p {
    padding-left: 100px;
    font-size: 40px;
    text-align: left;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.a1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: blue;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: blue;
    
}

label {
    padding-left: 100px;
    font-size: 40px;
    text-align: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #2640C0
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 10px 0;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 17px;

    position: relative;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}



nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #FFFFFF;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}